.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputField {
  margin-bottom: 10px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancelButton {
  width: 45%;
  border-color: #ccc;
}

.cancelButton:hover {
  border-color: #999;
}

.submitButton {
  width: 45%;
}
